.search-bar {
    margin-bottom: 15px;
}

img {
    width: 300px;
    height: 300px;
}

.pug {
    padding-top: 10px;;
    width: 100px;
    height: 100px;
    border-radius: 30%;
}


svg {
    width: 50px;
}


body {
     background-image: url('vector-pattern-cartoon-rubber-duck-water-blue-background_605642-100.avif');
     font-family: monospace;
}

header {
    justify-content: space-between; 
    background-image: url('360_F_300948277_4BxXOCD7HM84Rjr3ij7OMm7AMTdSgkbb.jpg');
    text-align: center;
    width: 100%;   
}

footer {
    background-image: url('360_F_300948277_4BxXOCD7HM84Rjr3ij7OMm7AMTdSgkbb.jpg');    
}

main {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 25px;
}

.pic {
    text-align: center;  
}

.left {  
    text-align:center;
}

.right {
    text-align: right;   
}

p {
    font-weight: bold;
}

.caption {
    font-size: 25px;
}

